agent-test-data.apimgmt-neo-1.host=
agent-test-data.apimgmt-neo-1.username=
agent-test-data.apimgmt-neo-1.password=
agent-test-data.apimgmt-cloud-foundry-1.host=
agent-test-data.apimgmt-cloud-foundry-1.username=
agent-test-data.apimgmt-cloud-foundry-1.password=